<aside class="aside">
  <nav>
    <ul>
      <li class="list-item">
        <a routerLink="/main/blogs-page" routerLinkActive="selected" class="list-link">
          <blog-burger></blog-burger>
          <p class="list-item-name">Blogs</p>
        </a>
      </li>
      <li class="list-item">
        <a routerLink="/main/posts-page" routerLinkActive="selected" class="list-link">
          <blog-post-link-icon></blog-post-link-icon>
          <p class="list-item-name">Posts</p>
        </a>
      </li>
    </ul>
  </nav>
</aside>
