<ng-container [ngSwitch]="tag">
  <div [class]="classNameContainer" *ngSwitchCase="'button'">
    <button
      [type]="type"
      [class]="className"
      [ngClass]="{
        primary: variant === 'Primary',
        secondary: variant === 'Secondary',
        tertiary: variant === 'Tertiary',
        fullWidth: fullWidth
      }"
    >
      {{ content }}
    </button>
  </div>

  <div *ngSwitchCase="'link'" [class]="className">
    <a [ngClass]="{ tertiary: variant === 'Tertiary', primary: variant === 'Primary' }">
      {{ content }}
    </a>
  </div>
</ng-container>
