<ng-container [ngSwitch]="tag">
  <button
    *ngSwitchCase="'button'"
    [class]="className"
    [type]="type"
    [ngClass]="{
      primary: variant === 'Primary',
      secondary: variant === 'Secondary',
      tertiary: variant === 'Tertiary',
      fullWidth: fullWidth
    }"
  >
    {{ content }}
  </button>

  <div *ngSwitchCase="'link'" [class]="className">
    <a [ngClass]="{ tertiary: variant === 'Tertiary', primary: variant === 'Primary', }" href="{{ link }}">
      {{ content }}
    </a>
  </div>
</ng-container>
