@use '../../../styles/helpers' as *;

.button {
  font-size: rem(14);
  font-weight: 600;
  line-height: rem(20);
  letter-spacing: 0;
  text-align: center;
  color: var(--color-light-100);
  border: none;
  cursor: pointer;

  padding: rem(8) rem(36) rem(8) rem(36);
  border-radius: rem(2);
  //gap: 10px;

  transition: all 0.3s ease-in-out;

}

.withoutMargin {
  margin: 0;
}

.width100 {
  width: rem(100);
}

.link {
  text-align: center;
}

.mb {
  margin-bottom: rem(72);
}

.mr20 {
  margin-right: rem(20);
}


.right {
  text-align: end;
}

.button:hover {
  box-shadow: 0 rem(4) rem(18) 0 #F8346B59;
}

.primary {
  @extend .button;
  background-color: var(--color-danger-300);
  box-shadow: 0 rem(1) 0 0 #FFFFFF4D inset;
}

.secondary {
  @extend .button;
  border: rem(1) solid var(--color-danger-300);
  padding: rem(7) rem(34);
  color: var(--color-danger-300);
  background-color: transparent;
}


.tertiary {
  @extend .button;
  color: var(--color-danger-300);
  text-decoration: underline;
  background-color: transparent;

  &:hover {
    box-shadow: none;
  }

}

.back {
  display: flex;
  padding-left: 0;
  color: black;
  background-color: transparent;
  margin-bottom: 36px;

  //styleName: small_text/Neutral Dark-60;
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;


  &:hover {
    box-shadow: none;
  }
}
.fullWidth {
  width: 100%;
}

.formButton {
  margin-top: rem(55);
  margin-bottom: rem(18);
}

.formLink {
  //display: block;
  //margin: 0 auto;
  text-align: center;
}

.disabled {
  background: #FB85A6;
  box-shadow: 0 rem(1) 0 0 #FFFFFF4D inset;
}

.disabled:hover {
  box-shadow: none;
}
.arrow {
  margin-right: rem(12);
}
//@media (max-width: 768px) {
//  .button {
//    padding: 8px 5px 8px 5px;
//    font-size: 12px;
//    font-weight: 500;
//    line-height: 15px;
//  }
//
//}
//@media (max-width: 568px) {
//  .button {
//    width: 100px;
//    padding: 5px 3px 5px 3px;
//    font-size: 12px;
//    font-weight: 100;
//    line-height: 15px;
//  }
//}
