<ng-container [ngSwitch]="tag">
  <div *ngSwitchCase="'button'">
    <!--    <div *ngIf="variant === 'Back'" class="back-container">-->
    <!--      <div>Strela</div>-->
    <!--      <button [type]="type" [class]="'back'">-->
    <!--        {{ content }}-->
    <!--      </button>-->
    <!--    </div>-->

    <button
      [type]="type"
      [class]="className"
      [disabled]="disabled"
      [ngClass]="{
        primary: variant === 'Primary',
        secondary: variant === 'Secondary',
        tertiary: variant === 'Tertiary',
        back: variant === 'Back',
        disabled: disabled === true,
        fullWidth: fullWidth
      }"
    >
      <div class="arrow">
        <blog-arrow-back *ngIf="variant === 'Back'"></blog-arrow-back>
      </div>

      {{ content }}
    </button>
  </div>

  <div *ngSwitchCase="'link'" [class]="className">
    <a [ngClass]="{ tertiary: variant === 'Tertiary', primary: variant === 'Primary' }">
      {{ content }}
    </a>
  </div>
</ng-container>
