@use '../../../styles/helpers' as *;

.typoContainer {
  margin-bottom: rem(31);
}

.h2 {
  margin-bottom: rem(8);
}

.h3 {
  max-width: rem(295);
  margin: 0 auto;
  margin-bottom: rem(15);
  font-size: fluid(20, 18);
  font-weight: 500;
  line-height: rem(24);
  letter-spacing: 0;
  text-align: center;
  color: var(--color-dark-900);
}

.h4 {
  margin-bottom: rem(5);
}

.body1 {
  //styleName: regular_text / Neutral Dark+60;
  font-size: fluid(16, 14);
  font-weight: 400;
  line-height: rem(24);
  letter-spacing: 0;
  text-align: center;

  color: var(--color-dark-500);
}

.body2 {
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  letter-spacing: 0;
  text-align: center;
}

.mw {
  max-width: rem(295);
  margin: 0 auto;
}

.mr16 {
  margin-right: rem(16);
}

.mb {
  margin-bottom: rem(31);
}

.textLeft {
  text-align: start;
}

.noMargin {
  margin: 0;
}
.clear {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: rem(7);
}
//@media (max-width: 568px) {
//  .h2 {
//    font-size: 20px;
//  }
//
//  .h4 {
//    font-size: 14px;
//  }
//
//}
