@use '../../../styles/helpers' as *;

.blog-item {
  display: flex;
  position: relative;
  //width: 928px;
  width: 100%;
  padding-block: rem(11);
  border-bottom: rem(1) solid var(--color-light-700);
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;
  //z-index: 10;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-header-website {
      margin-top: rem(5);
      font-family: Inter;
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(24);
      text-align: left;
      color: var(--color-dark-500);
    }
    &-url {
      font-family: Inter;
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(24);
      text-align: left;
    }


    &-text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      font-family: Inter;
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(24);
    }

  }

  &-picture {
    margin-right: rem(12);
  }

  &-content-header {
    margin-bottom: rem(24);
  }

  &:hover {
    border-bottom: rem(1) solid var(--color-danger-300) ;
  }
}
.author {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
}

.blog-item-content-header-link {
  transition: color 0.3s ease-in-out;

}
.blog-item-content-header-link:hover {
  color: #0000FF;
}

//@media (max-width: 768px) {
//  .blog-item {
//    font-size: 12px;
//  }
//  .blog-item-content-header-website {
//    font-size: 12px;
//  }
//  .blog-item-content-header-url {
//    font-size: 12px;
//  }
//  .blog-item-content-text {
//    font-size: 12px;
//  }
//
//  .author {
//    font-size: 12px;
//  }
//
//}
