<div [routerLink]="['/main/blogs-page/blog', blog.id]" class="blog-item">
  <ng-container *ngIf="!mini">
    <blog-blog-control-menu
      *ngIf="currentUserId && blog?.userId && currentUserId === blog.userId"
      [blogId]="blog.id"
    ></blog-blog-control-menu>
  </ng-container>

  <div class="blog-item-picture">
    <blog-content-picture [image]="blog.imageUrl"></blog-content-picture>
  </div>

  <div class="blog-item-content">
    <div class="blog-item-content-header">
      <blog-typography *ngIf="blog" [content]="blog.name" [variant]="'h4'"></blog-typography>
      <div class="author"><span>Author:</span> {{ blog.userName }}</div>
      <p class="blog-item-content-header-website" (click)="$event.stopPropagation()">
        Website:
        <span class="blog-item-content-header-url"
          ><a
            (click)="$event.stopPropagation()"
            class="blog-item-content-header-link"
            *ngIf="blog"
            [href]="blog.websiteUrl"
            target="_blank"
            >{{ blog.websiteUrl }}</a
          ></span
        >
      </p>
    </div>
    <p *ngIf="blog" class="blog-item-content-text">
      {{ blog.description }}
    </p>
  </div>
</div>
