<blog-item-simple>
  <div class="item-logo">
    <blog-chrome-icon></blog-chrome-icon>
  </div>
  <div class="item-middle-container">
    <div class="device-item-name">{{ device?.title }}</div>
    <div class="device-item-ip">{{ device?.ip }}</div>
    <div *ngIf="!isMoreInfo" class="device-item-status">Online</div>
    <div *ngIf="isMoreInfo" class="device-item-visit">
      Last visit: {{ device?.lastActiveDate | date: 'dd/MM/yyyy' }}
    </div>
  </div>
  <div *ngIf="isMoreInfo" class="item-logout">
    <blog-icon-sign-out></blog-icon-sign-out>
    <span (click)="deleteDeviceByIdFn()" class="item-logout-text">login out</span>
  </div>
</blog-item-simple>
