@use '../../../styles/helpers' as *;


.item-logo {
  margin-right: rem(12);
}

.device-item-name {
  font-family: Inter;
  font-size: rem(16);
  font-weight: 600;
  line-height: rem(24);
  text-align: left;
  margin-bottom: rem(13);

}
.device-item-ip {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;

}
.device-item-status {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(24);
  text-align: left;
  color: #3677F7;
}

.item-logout {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: center;
}

.item-logout-text {
  //styleName: small_text/Neutral Dark-60;
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
  margin-left: rem(12);
  cursor: pointer;
}
.device-item-visit {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;

}
