@use '../../../styles/helpers' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;

  height: rem(60);
  background-color: var(--color-light-100);

  width: 100%;
  z-index: 9999;

  box-shadow: 0 rem(1) rem(2) 0 #1D21261A;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: rem(10);
    width: 100%;
    height: 100%;

    @include tablet {
      display: none;
    }
  }

  &-items {
    display: flex;
    align-items: center;


  }

  &-user-name {
    position: relative;
    margin-right: rem(60);
    font-family: Inter;
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(24);
    text-align: right;
    border-bottom: rem(1) dashed black;
    cursor: pointer;
  }

  &-items-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &-ml {
    margin-left: rem(60);
  }

  &-icon {
    margin-right: rem(10);
  }

  &-action {
    //styleName: small_text/Neutral Dark-60;
    font-family: Inter;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(24);
    text-align: left;
    cursor: pointer;
  }
}

.logo {
  font-size: rem(26);
  font-weight: 600;
  line-height: rem(36);
  letter-spacing: 0;
  text-align: left;
  color: #1A1718;
  cursor: pointer;
}
.modal-text {
  font-family: Inter;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
  color: var(--color-dark-900);
  margin-bottom: rem(18);
}

.button-modal-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: rem(10);
  flex-wrap: wrap;
}

.login-menu {
  position: relative;
  cursor: pointer;
}

.item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: rem(16) rem(10) rem(12) rem(12);


}
.item-container:hover {
  background-color: var(--color-light-500);
}

.item-container:not(:last-child) {
  padding-bottom: rem(12);
}

.header-burger {
  display: none;

  @include tablet {
    display: block;
  }
}


