<div class="comment-item">
  <blog-comment-control-menu
    *ngIf="
      currentUserId &&
      comment?.commentatorInfo?.userId &&
      currentUserId === comment!.commentatorInfo.userId
    "
    (itemEditSubmitted)="onEdit($event)"
    (itemDeleteSubmitted)="onDelete($event)"
  ></blog-comment-control-menu>
  <div class="picture">
    <blog-content-picture [variant]="'small-round-comment'"> </blog-content-picture>
  </div>
  <div class="info">
    <div class="item-header">
      <blog-typography
        [className]="'noMargin'"
        [variant]="'h4'"
        [content]="comment!.commentatorInfo.userLogin"
      ></blog-typography>
      <span class="date">{{ comment?.createdAt | date: 'dd/MM/yyyy' }}</span>
    </div>

    <ng-container *ngIf="comment?.id === editCommentId; else contentBlock">
      <blog-app-loader></blog-app-loader>
    </ng-container>

    <ng-template #contentBlock>
      <div class="item-content">
        {{ comment?.content }}
      </div>
    </ng-template>

    <blog-like-dislike
      [likesCount]="comment!.likesInfo.likesCount"
      [dislikesCount]="comment!.likesInfo.dislikesCount"
      [status]="comment!.likesInfo.myStatus"
      (likeEvent)="onLikeClick()"
      (dislikeEvent)="onDislikeClick()"
    ></blog-like-dislike>
  </div>
</div>
