@use '../../../styles/helpers' as *;

.picture {
  flex-shrink: 0;
  margin-right: rem(12);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
}

.item-header {
  display: flex;
  align-items: center;
  margin-bottom: rem(14);
}

.date {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(16);
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-dark-500);
  margin-left: rem(16);
}

.item-content {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
  color: var(--color-dark-700);
  margin-bottom: rem(8);
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
