<blog-main-page>
  <blog-typography [className]="'clear'" [variant]="'h3'" [content]="'Devices'"></blog-typography>
  <hr class="line" />

  <div class="this-devices">
    <blog-typography
      [variant]="'body2'"
      [content]="'This devices'"
      [className]="'clear'"
    ></blog-typography>
    <blog-device-item [device]="currentDevice$ | async" [isMoreInfo]="false"></blog-device-item>
  </div>
  <div *ngIf="(devices$ | async)!.length > 1" class="btn-container">
    <blog-button [variant]="'Secondary'" [content]="'Terminate all other session'"></blog-button>
  </div>

  <div class="all-devices">
    <ng-template *ngFor="let device of devices$ | async">
      <blog-device-item
        *ngIf="device !== (currentDevice$ | async)"
        [isMoreInfo]="true"
        [device]="device"
        (deleteDeviceSubmitted)="deleteDeviceById($event)"
      ></blog-device-item>
    </ng-template>
  </div>
</blog-main-page>
