@use '../../../styles/helpers' as *;


.item-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: rem(16) rem(10) rem(12) rem(12);


}
.item-container:hover {
  background-color: var(--color-light-500);
}

.item-container:not(:last-child) {
  padding-bottom: rem(12);
}
.item-icon {
  margin-right: rem(12);
}
