.main {
  background-color: var(--color-main);
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.main-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;

}

.content {
  min-height: 100%;
  padding: 20px;
}
