@use '../../../styles/helpers' as *;

.modalOverlay {
  position: fixed;


  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.modal {
  width: rem(378);
  background-color: var(--color-light-300);
  z-index: 10000;

}

.modalHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: rem(17) rem(24) rem(18) rem(24);
  border-bottom: rem(1) solid var(--color-light-700);
}

.modalBody {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: rem(30) rem(21) rem(36) rem(24);
}

.closButton {
  font-size: rem(20);
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: rem(29);
  cursor: pointer;
}
