<div class="blog-item">
  <div class="blog-item-picture">
    <blog-round-picture></blog-round-picture>
  </div>

  <div class="blog-item-content">
    <div class="blog-item-content-header">
      <blog-typography [content]="'Best blog ever'" [variant]="'h4'"></blog-typography>
      <p class="blog-item-content-header-website">
        Website:
        <span class="blog-item-content-header-url"
          ><a href="https://www.youtube.com">https://www.youtube.com</a></span
        >
      </p>
    </div>
    <p class="blog-item-content-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, sed do eiusmod tempor
    </p>
  </div>
</div>
