@use '../../styles/helpers' as *;

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(10);
}

.download-img-button {
  position: absolute;
  bottom: 0;
  right: rem(45);
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
