.item-control-menu {
  position: absolute;

  //position: relative;
  right: 22px;
  top: 21px;

  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
}

.blog-points-icon-container {
  margin-bottom: 10px;
}


