.round-picture {
  width: 156px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-700);

  border-radius: 50%;
  object-fit: cover;
}

.post-picture {
  width: 156px;
  height: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-700);

  border-radius: 10px;
  object-fit: cover;
}

.big-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 432px;
  background-color: var(--color-light-100);
  border-radius: 2px 0 0 0;
}

.small-round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-700);
}

.small-round-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-700);
}
