<ng-container class="typoContainer" [ngSwitch]="variant">
  <div *ngSwitchCase="'round'" class="round-picture">
    <ng-container *ngIf="image; else emptyTemplate">
      <img class="img" [src]="image" alt="Image description" />
    </ng-container>

    <ng-template #emptyTemplate>
      <blog-empty-picture></blog-empty-picture>
    </ng-template>
  </div>
  <div *ngSwitchCase="'big-picture'" class="big-picture">
    <ng-container *ngIf="image; else emptyTemplate">
      <img class="img-big" [src]="image" alt="Image description" />
    </ng-container>

    <ng-template #emptyTemplate>
      <blog-empty-picture></blog-empty-picture>
    </ng-template>
  </div>
  <div *ngSwitchCase="'post-picture'" class="post-picture">
    <ng-container *ngIf="image; else emptyTemplate">
      <img class="img" [src]="image" alt="Image description" />
    </ng-container>

    <ng-template #emptyTemplate>
      <blog-empty-picture></blog-empty-picture>
    </ng-template>
  </div>
  <div *ngSwitchCase="'small-round'" class="small-round">
    <ng-container *ngIf="image; else emptyTemplate">
      <img class="img" [src]="image" alt="Image description" />
    </ng-container>

    <ng-template #emptyTemplate>
      <blog-empty-picture></blog-empty-picture>
    </ng-template>
  </div>
  <div *ngSwitchCase="'small-round-comment'" class="small-round-comment">
    <ng-container *ngIf="image; else emptyTemplate">
      <img class="img" [src]="image" alt="Image description" />
    </ng-container>

    <ng-template #emptyTemplate>
      <blog-empty-picture></blog-empty-picture>
    </ng-template>
  </div>
</ng-container>
