@use '../../../styles/helpers' as *;

.select-container {
  display: flex;
  align-items: center;
  margin-bottom: rem(20);
}

.text {
  font-family: Inter;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
}

.loader-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

