<blog-card>
  <blog-typography [content]="'Sing Up'" variant="h3"></blog-typography>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <blog-auth-input
        [control]="loginForm.controls.username"
        [id]="'username'"
        [title]="'Username'"
      >
      </blog-auth-input>
      <blog-auth-input
        [control]="loginForm.controls.email"
        [id]="'email'"
        [title]="'Email'"
      >
      </blog-auth-input>
      <blog-auth-input
        [control]="loginForm.controls.password"
        [showIcon]="true"
        [id]="'password'"
        [title]="'Password'"
        [type]="'password'"
      >
      </blog-auth-input>
    <blog-button
      [type]="'button'"
      [content]="'Sing Up'"
      variant="Primary"
      [className]="'formButton'"
      [fullWidth]="true"
    >
    </blog-button>
  </form>
  <blog-typography [content]="'Already a member?'" variant="body1"></blog-typography>
  <blog-button
    [type]="'link'"
    [className]="'formLink'"
    [content]="'Sing In'"
    variant="Tertiary">
  </blog-button>
</blog-card>
