.blogs-page {
  padding: 29px 24px 0 24px;
}

.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-panel {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.search-field {
  height: 500px;
}

.line {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #DEDBDC;
  margin-bottom: 24px;
}

