.blogs-page {
  //overflow-y: auto;
  //height: 100%;
  //padding: 29px 24px 0 24px;

    margin-left: 252px; /* Оставляем место для асайда */
    //width: calc(100%);
    height: calc(100vh - 60px); /* Учитываем высоту хедера */
    overflow-y: auto; /* Скролл только для контента */
    padding: 20px;

}

.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-panel {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.search-field {
  height: 500px;
}

.line {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #DEDBDC;
  margin-bottom: 24px;
}

.blog-item-container {
  height: 100%;
}

