<blog-main-page>
  <div class="blog-header">
    <blog-typography content="Blogs" className="clear" variant="h3"></blog-typography>
    <blog-button
      *ngIf="isAuthenticated$ | async"
      routerLink="/main/blogs-page/add-blog"
      variant="Primary"
      content="Add new blog"
      >Add blog
    </blog-button>
  </div>

  <hr class="line" />
  <div class="search-panel">
    <blog-input [search]="true" placeholder="Search..." style="width: 100%"></blog-input>
    <blog-select-component></blog-select-component>
  </div>
  <div *ngIf="(blogs$ | async)?.length; else noBlogs" class="blog-item-container">
    <blog-blog-item
      *ngFor="let blog of blogs$ | async"
      [currentUserId]="currentUserId$ | async"
      [currentUserLogin]="currentUserName$ | async"
      [blog]="blog"
    ></blog-blog-item>
  </div>

  <div class="center-container">
    <blog-loader *ngIf="loading$ | async; else loadButton"></blog-loader>
  </div>

  <ng-template #loadButton>
    <blog-button
      (click)="loadMore()"
      *ngIf="hasMoreBlogs$ | async"
      [content]="'Load more'"
    ></blog-button>
  </ng-template>

  <ng-template #loadButton #noBlogs>
    <div class="no-blog">No blogs available.</div>
  </ng-template>
</blog-main-page>
