@use '../../../styles/helpers' as *;


.control-menu {
  position: absolute;
  top: rem(40);
  right: 0;
  display: flex;
  flex-direction: column;
  width: rem(149);
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-light-300);
  border-radius: rem(2) 0 0 0;
  border: rem(1) solid var(--color-light-700);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.show {
  opacity: 1;
  visibility: visible;
}

.control-menu::before {
  content: '';
  position: absolute;
  top: rem(-10);
  right: rem(10);
  border-left: rem(10) solid transparent;
  border-right: rem(10) solid transparent;
  border-bottom: rem(10) solid var(--color-light-700);
}

.control-menu::after {
  content: '';
  position: absolute;
  top: rem(-9);
  right: rem(11);
  border-left: rem(9) solid transparent;
  border-right: rem(9) solid transparent;
  border-bottom: rem(9) solid var(--color-light-300);
}

