<div class="adTextBox">
  <input
    type="{{ type }}"
    id="text"
    [(ngModel)]="inputValue"
    [class.hasValue]="inputValue.trim() !== ''"
  />

  <label for="text">{{ title }}</label>
  <div class="underline"></div>

  <div (click)="changeInputType(type)" *ngIf="showIcon" class="eyeContainer">
    <blog-eye-close *ngIf="type === 'password'" [ngClass]="'eye'"></blog-eye-close>
    <blog-eye-open *ngIf="type === 'text'" [ngClass]="'eye'" height="20" width="20"></blog-eye-open>
  </div>
</div>
