@use '../../../styles/helpers' as *;


.custom-file-upload {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.custom-file-upload img {
  width: rem(30);
  height: rem(30);
}
.file-name {
  margin-left: rem(10);
  font-size: rem(14);
  color: #333;
}

.item-container {
  display: flex;
}

.content {
  display: flex;
  align-items: center;
}

.img-title {
  text-overflow: ellipsis;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: rem(24);
  margin-right: rem(10);
}
