<div class="app">
  <blog-modal *ngIf="(isModalOpen$ | async) === true" (closeModal)="onClose()" [title]="'Warning'">
    <div class="modal-alert">Session expired. Please log in again.</div>
    <div class="modal-alert-button">
      <blog-button (click)="onClose()" [content]="'Ok'"></blog-button>
    </div>
  </blog-modal>
  <blog-header-component></blog-header-component>
  <blog-app-loader *ngIf="appLoading$ | async"></blog-app-loader>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <blog-parent-alert></blog-parent-alert>
  <blog-button [content]="'asdasd'" (click)="onClose2()"></blog-button>
</div>
