@use '../../../styles/helpers' as *;


.blog-content {
  min-height: rem(566);
  margin-bottom: rem(47);

  @include mobile {
    min-height: auto;
  }
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(566)

}
.blog-header {
  margin-bottom: rem(20);
}
.blog-header-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(16);
  letter-spacing: 0.02em;
  text-align: left;
}
.blog-picture-container {
  margin-bottom: rem(30);
}
.blog-description {
  font-family: Inter;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  text-align: justify;
  color: var(--color-dark-700);
}

.blog-content-info {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
}

.blog-website {
  margin-top: 5px;
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
  color: var(--color-dark-500);
}

.blog-link {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
}

.post-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(20);
}
.posts-list {
  margin-bottom: rem(36);
}

.btn-block {
  text-align: center;
}
.no-posts {
  text-align: center;
  margin-top: rem(150);
  font-size: fluid(18, 16);
  font-weight: 600;
  line-height: rem(20);
}
//@media (max-width: 768px) {
//  .blog-description {
//    font-size: 14px;
//  }
//}
