<blog-main-page>
  <blog-button
    routerLink="/main/blogs-page"
    [variant]="'Back'"
    [content]="'Back to blogs'"
  ></blog-button>
  <blog-modal *ngIf="openDeleteModal$ | async" (closeModal)="onCloseModal()" [title]="'Delete'">
    <p class="blog-modal-text">Are you sure about this?</p>
    <div class="blog-modal-btn-group">
      <blog-button (click)="deletePost()" [className]="'mr20'" [content]="'Ok'"></blog-button>
      <blog-button
        (click)="onCloseModal()"
        [variant]="'Secondary'"
        [content]="'Cancel'"
      ></blog-button>
    </div>
  </blog-modal>
  <section class="blog-info-block">
    <div class="blog-content">
      <div *ngIf="loading$ | async; else contentBlock" class="loader-container">
        <blog-loader></blog-loader>
      </div>
      <ng-template #contentBlock>
        <div class="blog-header">
          <div class="blog-header-panel">
            <blog-typography [variant]="'h2'" [content]="blog!.name"></blog-typography>
            <blog-button
              *ngIf="currentUserId && blog?.userId && currentUserId === blog!.userId"
              routerLink="add-post-for-blog"
              variant="Primary"
              content="Add new post"
              >Add blog
            </blog-button>
          </div>
          <p class="blog-content-info">
            Website:
            <span class="blog-website"
              ><a class="blog-link" *ngIf="true" href="https://www.youtube.com">{{
                blog?.websiteUrl
              }}</a></span
            >
          </p>
        </div>
        <div class="blog-picture-container">
          <blog-content-picture
            [image]="blog?.imageUrl"
            [variant]="'big-picture'"
          ></blog-content-picture>
        </div>
        <div class="blog-description">
          {{ blog?.description }}
        </div>
      </ng-template>
    </div>

    <ng-container *ngIf="loadingForGetAllPostsInBlog$ | async; else items">
      <div class="post-loader-container">
        <blog-loader></blog-loader>
      </div>
    </ng-container>

    <ng-template #items>
      <div *ngIf="(posts$ | async)?.length; else emptyBlock" class="posts-list">
        <blog-post-item
          [currentUserId]="currentUserId"
          (itemEditSubmitted)="onEditPostInBlog($event)"
          (itemDeleteSubmitted)="onDeletePostInBlog($event)"
          (likePost)="onLikePost($event)"
          (dislikePost)="onDislikePost($event)"
          *ngFor="let post of posts$ | async"
          [post]="post"
        ></blog-post-item>
      </div>
    </ng-template>

    <div *ngIf="loadingForPosts$ | async; else btnBlock" class="post-loader-container">
      <blog-loader></blog-loader>
    </div>
    <ng-template #btnBlock>
      <div class="btn-block">
        <blog-button
          (click)="loadMorePosts()"
          *ngIf="hasMorePostForBlog$ | async"
          [content]="'Load more'"
        ></blog-button>
      </div>
    </ng-template>

    <ng-template #emptyBlock>
      <div class="no-posts">No posts available.</div>
    </ng-template>
  </section>
</blog-main-page>
