<blog-card>
  <blog-typography [content]="'Recover your password'" variant="h3"></blog-typography>

  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
    <blog-auth-input
      [control]="newPasswordForm.controls.newPassword"
      [showIcon]="true"
      [id]="'newPassword'"
      [title]="'New password'"
      [type]="'password'"
    >
    </blog-auth-input>

    <div
      *ngIf="
        newPasswordForm &&
        !newPasswordForm!.valid &&
        (newPasswordForm?.dirty || newPasswordForm?.touched)
      "
      class="error"
    >
      <div *ngIf="newPasswordForm.errors?.['required']">New password is required</div>
      <div *ngIf="newPasswordForm.errors?.['minlength']">
        The New password must not be less than 3 characters.
      </div>
    </div>

    <blog-auth-input
      [control]="newPasswordForm.controls.confirmPassword"
      [showIcon]="true"
      [id]="'confirmPassword'"
      [title]="'Сonfirm password'"
      [type]="'password'"
    >
    </blog-auth-input>

    <div
      *ngIf="
        newPasswordForm &&
        !newPasswordForm!.valid &&
        (newPasswordForm?.dirty || newPasswordForm?.touched)
      "
      class="error"
    >
      <div *ngIf="newPasswordForm.errors?.['required']">Confirm password is required</div>
      <div *ngIf="newPasswordForm.errors?.['minlength']">
        The Confirm password must not be less than 3 characters.
      </div>
      <div *ngIf="newPasswordForm.value.newPassword !== newPasswordForm.value.confirmPassword">
        The Confirm password and password must be equal.
      </div>
    </div>

    <blog-button
      [tag]="'button'"
      [type]="'submit'"
      [content]="'Recover password'"
      variant="Primary"
      [className]="'formButton'"
      [fullWidth]="true"
    >
    </blog-button>
  </form>
</blog-card>
