<blog-typography [content]="'Add post'" variant="h3"></blog-typography>
<form [formGroup]="editPostForm" (ngSubmit)="onSubmit()">
  <!--Title-->
  <blog-input
    [isControl]="true"
    [control]="editPostForm.controls.title"
    [id]="'title'"
    [placeholder]="'Title'"
  ></blog-input>

  <div *ngIf="title && !title!.valid && (title?.dirty || title?.touched)" class="error">
    <div *ngIf="title.errors?.['required']">Title is required</div>
    <div *ngIf="title.errors?.['minlength']">The Name must not be less than 3 or more then 15.</div>
  </div>

  <!--Short description-->
  <blog-input
    [isControl]="true"
    [control]="editPostForm.controls.shortDescription"
    [id]="'shortDescription'"
    [placeholder]="'Short description'"
  >
  </blog-input>

  <div
    *ngIf="
      shortDescription &&
      !shortDescription!.valid &&
      (shortDescription?.dirty || shortDescription?.touched)
    "
    class="error"
  >
    <div *ngIf="shortDescription.errors?.['required']">Short description is required</div>
    <div *ngIf="shortDescription.errors?.['maxlength']">
      The Short description must not be less than 1 characters and more than 500.
    </div>
  </div>

  <!--content-->
  <blog-input
    [isControl]="true"
    [control]="editPostForm.controls.content"
    [id]="'content'"
    [placeholder]="'Content'"
    [variant]="'textarea'"
  >
  </blog-input>

  <div
    *ngIf="content && !editPostForm!.valid && (editPostForm?.dirty || editPostForm?.touched)"
    class="error"
  >
    <div *ngIf="editPostForm.errors?.['required']">Website url is required</div>
    <div *ngIf="editPostForm.errors?.['pattern']">The Website url must be https://example.com.</div>
  </div>

  <!--    <div *ngIf="loading" class="loader">-->
  <!--      <blog-loader></blog-loader>-->
  <!--    </div>-->
  <div class="loader-block" *ngIf="loading; else button1">
    <blog-loader></blog-loader>
  </div>

  <ng-template #button1>
    <blog-button
      [tag]="'button'"
      [type]="'submit'"
      [content]="'Edit post'"
      variant="Primary"
      [className]="'formButton'"
      [fullWidth]="true"
    >
    </blog-button>
  </ng-template>
</form>
