<div class="signUpPage">
  <blog-modal *ngIf="isModalOpen" [title]="'Email sent'" (closeModal)="closeModal()">
    <blog-typography [content]="content" [variant]="'body2'" [className]="'mb textLeft'">
    </blog-typography>
    <blog-button
      [classNameContainer]="'right'"
      [className]="'button right'"
      [content]="'OK'"
      (click)="closeModal()"
    ></blog-button>
  </blog-modal>
  <blog-auth-sign-up-form
    (formSubmitted)="onFormSubmit($event)"
    [authSeverity]="authSeverity$ | async"
    [loading]="signUpLoading$ | async"
  ></blog-auth-sign-up-form>
  <div class="sign-up-img">
    <blog-login-image></blog-login-image>
  </div>
</div>
