<form class="add-comments-form" [formGroup]="addCommentForPostForm" (ngSubmit)="onSubmit()">
  <div class="comments-form-header">
    <blog-typography [content]="'Comments'" variant="h4"></blog-typography>
    <!--    "'Comments (' + comments.length + ')'"-->
  </div>

  <ng-container *ngIf="isAuthenticated">
    <div class="form-content">
      <blog-input
        [isControl]="true"
        [control]="addCommentForPostForm.controls.content"
        [id]="'content'"
        [placeholder]="'Comment...'"
        [variant]="'textarea-comment'"
        (searchFocus)="onFocus()"
      ></blog-input>

      <div *ngIf="content && !content!.valid && (content?.dirty || content?.touched)" class="error">
        <div *ngIf="content.errors?.['minlength']">
          The content must not be less than 20 or more then 300.
        </div>
      </div>

      <div class="loader-block" *ngIf="loading">
        <blog-loader></blog-loader>
      </div>

      <div class="button-group" [ngClass]="{ open: isOpenForm }">
        <blog-button
          [tag]="'button'"
          [content]="'Cancel'"
          variant="Secondary"
          [className]="'mr20'"
          [disabled]="false"
          (click)="onClose()"
        >
        </blog-button>

        <blog-button
          [tag]="'button'"
          [content]="'Send a comment'"
          variant="Primary"
          [disabled]="content?.valid === false && !loading"
          [type]="'submit'"
        >
        </blog-button>
      </div>
    </div>
  </ng-container>
</form>
