@use '../../../styles/helpers' as *;


.add-comments-form {
  margin-bottom: rem(24);
}

.comments-form-header {
  margin-bottom: 31px;
}

.button-group {
  display: flex;
  justify-content: right;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  overflow-y: visible;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  height: auto;
  visibility: hidden;
}

.loader-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.button-group.open {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}
