@use '../../styles/helpers' as *;

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid var(--color-light-700);
  width: rem(400);
  height: auto;
  background: white;
  border-radius: rem(20);
  box-shadow: 0 rem(4) rem(8) rgba(0, 0, 0, 0.1);
  padding: rem(20);
  position: relative;

  @include mobile {
    width: rem(300);
  }

  @include mobile-s {
    width: rem(250);
  }
}

//.image-container {
//  position: relative;
//  margin-bottom: 15px;
//  border-radius: 50%;
//}


.name {
  font-family: 'Inter', sans-serif;
  font-size: fluid(20, 16);
  font-weight: 700;
  line-height: rem(28);
  text-align: center;
  color: #333;
  border-bottom: rem(2) dashed #F8346B;
  padding-bottom: rem(5);
  margin-top: rem(10);
}

.profile-change-icon {
  position: absolute;
  top: rem(20);
  right: rem(20);

  width: rem(20);
  height: rem(20);
  cursor: pointer;
}
