@use '../../../styles/helpers' as *;


.main-page {
  //margin-left: 252px;
  min-height: 100%;
  width: 100%;
  //width: 928px;
  //overflow-y: hidden;
  padding: rem(20);
}

//@media (max-width: 1280px) {
//  .main-page {
//    margin-left: 150px;
//    width: 728px;
//  }
//}
//
//@media (max-width: 1140px) {
//  .main-page {
//    margin-left: 0;
//    width: 728px;
//  }
//}
//
//@media (max-width: 768px) {
//  .main-page {
//    margin-left: 0;
//    width: 528px;
//  }
//}
//@media (max-width: 568px) {
//  .main-page {
//    margin-left: 0;
//    width: 328px;
//  }
//}
