/* You can add global styles to this file, and also import other style files */
@forward "app/styles/_colors.scss";
@forward "app/styles/_typography.scss";
@forward "app/styles/_variables.scss";
@forward "app/styles/_boilerplate.scss";

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}


