<div [routerLink]="['/main/posts-page/post', post?.id]" class="post-item">
  <!--  [routerLink]="['/main/blogs-page/blog', 'asdasd']"-->
  <!--  <ng-container *ngIf="!mini">-->
  <!--    *ngIf="currentUserId && blog?.userId && currentUserId === blog.userId"-->
  <!--    <blog-blog-control-menu-->
  <!--      *ngIf="true"-->
  <!--      [blogId]="'asdasd'"-->
  <!--    ></blog-blog-control-menu>-->
  <!--  </ng-container>-->
  <blog-post-control-menu
    *ngIf="currentUserId && post?.userId && currentUserId === post!.userId"
    [itemId]="post!.id"
    [editLink]="editLink"
    (itemEditSubmitted)="onEdit($event)"
    (itemDeleteSubmitted)="onDelete($event)"
  >
  </blog-post-control-menu>
  <div class="post-item-picture">
    <blog-content-picture
      [image]="post?.imageUrl"
      [variant]="'post-picture'"
    ></blog-content-picture>
  </div>

  <div class="post-item-content">
    <div class="post-item-content-header">
      <div class="post-item-content-header-block">
        <blog-typography
          *ngIf="true"
          [content]="post!.title"
          [variant]="'h4'"
          [className]="'mr16'"
        ></blog-typography>
        <span class="post-date">{{ post?.createdAt | date: 'dd/MM/yyyy' }}</span>
      </div>

      <!--      <div class="author"><span>Author:</span> Vadim</div>-->
      <p class="post-item-content-short-description">{{ post?.shortDescription }}</p>
    </div>
    <p *ngIf="true" class="post-item-content-text">
      {{ post?.content }}
    </p>

    <!--    likes section-->
    <blog-like-dislike
      [likesCount]="post!.extendedLikesInfo.likesCount"
      [dislikesCount]="post!.extendedLikesInfo.dislikesCount"
      [status]="post!.extendedLikesInfo.myStatus"
      (likeEvent)="onLikeClick()"
      (dislikeEvent)="onDislikeClick()"
    ></blog-like-dislike>
  </div>
</div>
