<div class="post-item">
  <!--  [routerLink]="['/main/blogs-page/blog', 'asdasd']"-->
  <!--  <ng-container *ngIf="!mini">-->
  <!--    *ngIf="currentUserId && blog?.userId && currentUserId === blog.userId"-->
  <!--    <blog-blog-control-menu-->
  <!--      *ngIf="true"-->
  <!--      [blogId]="'asdasd'"-->
  <!--    ></blog-blog-control-menu>-->
  <!--  </ng-container>-->

  <div class="post-item-picture">
    <blog-content-picture [variant]="'post-picture'"></blog-content-picture>
  </div>

  <div class="post-item-content">
    <div class="post-item-content-header">
      <div class="post-item-content-header-block">
        <blog-typography
          *ngIf="true"
          [content]="'Name'"
          [variant]="'h4'"
          [className]="' mr16'"
        ></blog-typography>
        <span class="post-date">01/01/2021</span>
      </div>

      <div class="author"><span>Author:</span> Vadim</div>
      <p class="post-item-content-short-description">Short description</p>
    </div>
    <p *ngIf="true" class="post-item-content-text">
      Lorem ipsum dolor sit amet consectetur adipiscing elit, magna felis vestibulum metus aptent
      velit, tempor posuere natoque habitasse phasellus dignissim. Nec libero purus etiam venenatis
      velit cras nascetur euismod ornare sodales, ex ut augue sed vestibulum molestie dis quisque
      laoreet, tempor ullamcorper mus odio nostra est dolor magna justo. Lorem ipsum dolor sit amet
      consectetur adipiscing elit, magna felis vestibulum metus aptent velit, tempor posuere natoque
      habitasse phasellus dignissim. Nec libero purus etiam venenatis velit cras nascetur euismod
      ornare sodales, ex ut augue sed vestibulum molestie dis quisque laoreet, tempor ullamcorper
      mus odio nostra est dolor magna justo.
    </p>
    <div class="post-item-likes">
      <span class="likes-count">123</span>
      <button class="like-button">like icon</button>
    </div>
  </div>
</div>
