@use '../../../styles/helpers' as *;

.header-user-info {
  display: inline-block;
  position: relative;
  margin-right: rem(60);
  font-family: Inter;
  font-size: rem(16);
  font-weight: 600;
  line-height: rem(24);
  text-align: left;
  border-bottom: 1px dashed black;
}

.user-name {
  cursor: pointer;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  //padding: 16px 10px 12px 12px;
}

.item-text {
  display: block;
  text-align: left;
  width: 100%;
  padding: rem(16) rem(10) rem(12) rem(12);
  cursor: pointer;
}

.item-text:not(:last-child) {
  border-bottom: rem(1) solid var(--color-light-900);
}

.item-text:hover {
  background-color: var(--color-light-500);
}

.item-container:not(:last-child) {
  padding-bottom: rem(12);
}
