@use '../../../styles/helpers' as *;

:host {
  @include mobile {
    width: 100%;
  }
}

.search-container {
  position: relative;
  width: 100%;
}

.search-list {
  position: absolute;
  top: rem(46);
  width: 100%;
  border: rem(1) solid var(--color-light-700);
  padding: rem(10);
  height: rem(500);
  background-color: var(--color-light-100);
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
}

.search-list::-webkit-scrollbar {
  width: rem(5);
}

.search-list::-webkit-scrollbar-track {
  background: white;
}

.search-list::-webkit-scrollbar-thumb {
  background-color: var(--color-danger-300);
  border-radius: rem(20);
  border: rem(1) solid var(--color-danger-300);
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//@media (max-width: 1280px) {
//  .search-container {
//    width: 440px;
//  }
//  .search-list {
//    width: 440px;
//  }
//}
//
//@media (max-width: 1140px) {
//  .search-container {
//    width: 440px;
//  }
//  .search-list {
//    width: 440px;
//  }
//}
//@media (max-width: 1024px) {
//  .search-container {
//    width: 440px;
//  }
//  .search-list {
//    width: 440px;
//  }
//}
//
//@media (max-width: 768px) {
//  .search-container {
//    margin-bottom: 15px;
//  }
//}
//
//@media (max-width: 568px) {
//  .search-container {
//    width: 300px;
//  }
//  .search-list {
//    width: 300px;
//  }
//}
