<blog-main-page>
  <blog-button
    routerLink="/main/posts-page"
    [variant]="'Back'"
    [content]="'Back to posts'"
  ></blog-button>

  <section class="post-page">
    <div class="blog-info">
      <div class="picture-container">
        <blog-content-picture [variant]="'small-round'"></blog-content-picture>
      </div>
      <span class="blog-name">{{ (blog$ | async)?.name }}</span>
    </div>

    <div class="post-header">
      <blog-typography [variant]="'h2'" [content]="post ? post.title : ''"></blog-typography>
      <div class="date-time-block">
        <span class="date">{{ post?.createdAt | date: "dd/MM/yyyy 'at' HH:mm:ss" }}</span>
      </div>
    </div>

    <div class="like-dislike-container">
      <blog-like-dislike
        [size]="'large'"
        [newestLikesArray]="post ? post.extendedLikesInfo.newestLikes : []"
        [status]="post ? post.extendedLikesInfo.myStatus : 'None'"
        [likesCount]="post ? post.extendedLikesInfo.likesCount : 0"
        [dislikesCount]="post ? post.extendedLikesInfo.dislikesCount : 0"
        (likeEvent)="onLikePost()"
        (dislikeEvent)="onDislikePost()"
      ></blog-like-dislike>
    </div>

    <div class="blog-picture-container">
      <blog-content-picture [variant]="'big-picture'"></blog-content-picture>
    </div>

    <div class="post-description">
      {{ post?.shortDescription }}
    </div>

    <blog-add-comment-form
      (formSubmitted)="onAddCommentFormSubmit($event)"
      [isAuthenticated]="isAuthenticated$ | async"
      [loading]="commentsLoading$ | async"
      [totalCountComments]="totalCountComments$ | async"
      [authSeverity]="authSeverity$ | async"
    ></blog-add-comment-form>
    <div *ngIf="(comments$ | async)?.length; else emptyBlock" class="posts-list">
      <blog-comment-item
        (likePost)="onLikeComment($event)"
        (dislikePost)="onDislikeComment($event)"
        (itemEditSubmitted)="onEditPostInBlog($event)"
        (itemDeleteSubmitted)="onDeletePostInBlog($event)"
        *ngFor="let comment of comments$ | async"
        [comment]="comment"
        [editCommentId]="editCommentId$ | async"
        [currentUserId]="currentUserId"
        [commentLoading]="commentsLoading$ | async"
        [authSeverity]="authSeverity$ | async"
      ></blog-comment-item>
    </div>

    <div *ngIf="commentsLoading$ | async; else btnBlock" class="comment-loader-container">
      <blog-loader></blog-loader>
    </div>
    <ng-template #btnBlock>
      <div class="btn-block">
        <blog-button
          (click)="loadMoreComments()"
          *ngIf="hasMoreCommentForPost$ | async"
          [content]="'Load more'"
        ></blog-button>
      </div>
    </ng-template>
    <ng-template #emptyBlock>
      <div class="no-posts">No comments available.</div>
    </ng-template>
  </section>
</blog-main-page>
