@use '../../../styles/helpers' as *;

.post-page {
  width: 100%;
}

.blog-info {
  display: flex;
  align-items: center;
  margin-bottom: rem(28);
}

.picture-container {
  margin-right: rem(12);
}

.blog-name {
  font-family: Inter;
  font-size: rem(16);
  font-weight: 600;
  line-height: rem(24);
  text-align: left;
  color: var(--color-dark-700);
}


.date-time-block {
  font-family: Inter;
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(16);
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-dark-500);
  margin-top: rem(8);
}
.post-header {
  margin-bottom: rem(20);
}

.like-dislike-container {
  margin-bottom: rem(12);
}

.blog-picture-container {
  margin-bottom: rem(30);
}
.post-description {
  font-family: Inter;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  text-align: justify;
  color: var(--color-dark-700);
  margin-bottom: rem(47);
}
.btn-block {
  text-align: center;
}

.comment-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-comments {
  text-align: center;
  margin-top: rem(150);
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(20);
}
.loader-block {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
