<ng-container [ngSwitch]="variant">
  <div
    *ngSwitchCase="'input'"
    [ngClass]="{ 'with-margin': !search, 'input-container-padding': !search }"
    class="input-container"
  >
    <ng-container *ngIf="search">
      <blog-search-icon></blog-search-icon>
    </ng-container>

    <!--    [form]="control"-->

    <ng-container *ngIf="isControl; else simpleInput">
      <input
        (input)="onInputChange()"
        (focus)="onSearchFocus()"
        [formControl]="control"
        class="input"
        type="{{ type }}"
        placeholder="{{ placeholder }}"
      />
    </ng-container>

    <ng-template #simpleInput>
      <input
        [(ngModel)]="inputValue"
        (input)="onInputChange()"
        (focus)="onSearchFocus()"
        class="input"
        type="{{ type }}"
        placeholder="{{ placeholder }}"
      />
    </ng-template>
  </div>
  <div *ngSwitchCase="'textarea'" class="textareaContainer">
    <textarea
      [formControl]="control"
      class="input textarea"
      placeholder="{{ placeholder }}"
    ></textarea>
  </div>
  <div *ngSwitchCase="'textarea-comment'" class="textareaContainer">
    <textarea
      (focus)="onSearchFocus()"
      [formControl]="control"
      class="input textarea-comment"
      placeholder="{{ placeholder }}"
    ></textarea>
  </div>
</ng-container>
