<ng-container [ngSwitch]="variant">
  <div
    *ngSwitchCase="'input'"
    [ngClass]="{ 'with-margin': !search, 'input-container-padding': !search }"
    class="input-container"
  >
    <ng-container *ngIf="search">
      <blog-search-icon></blog-search-icon>
    </ng-container>

    <!--    [formControl]="control"-->
    <input
      [(ngModel)]="inputValue"
      (input)="onInputChange()"
      (focus)="onSearchFocus()"
      (ngModelChange)="onInputChange()"
      class="input"
      type="{{ type }}"
      placeholder="{{ placeholder }}"
    />
  </div>
  <div *ngSwitchCase="'textarea'" class="textareaContainer">
    <textarea
      [formControl]="control"
      class="input textarea"
      placeholder="{{ placeholder }}"
    ></textarea>
  </div>
</ng-container>
